<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" strict="false" explicit="false" targetFramework="4.5.2"/>
		<httpRuntime targetFramework="4.5.2"/>
		<customErrors mode="Off"/>
		<pages enableViewState="false" />
  </system.web>
  <connectionStrings>
	  <!--<add name="constr" connectionString="server=localhost;uid=ProyectoPrivado;password=Proyectos123;database=mydb" providerName="MySql.Data.MySqlClient"/>-->
  <add name="constr" connectionString="server=mysql5009.site4now.net;uid=a674f2_mydb;password=Proyectos123;database=db_a674f2_mydb" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
	<system.webServer>
		
		<defaultDocument>
			<files>
				<clear />
				<add value="inicio.aspx"/>
			</files>
		</defaultDocument>
	</system.webServer>
	
</configuration>